.card_container{
    width:fit-content;
    margin: auto;
    text-align: center;
    height: 400px;
    
    /* margin-left:150px;
    margin-right:150px; */
}
.card{
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-right: 30px; */
}
#faculty{
    font-family:sans-serif;
    color: dodgerblue;
    padding-bottom: 30px;

}