<div class="form">
  <h2 class="text-primary">User Login</h2>
  <br><br>
<form #login="ngForm" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email / Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="User.email" #email="ngModel"[class.is-invalid]="email.invalid&&email.touched" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <small class="text-danger" [class.d-none]="email.valid || email.touched">Enter Valid email</small>
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"name="password" [(ngModel)]="User.password" #password="ngModel" [class.is-invalid]="password.invalid&&password.touched" required pattern="^[a-zA-Z0-9]{8}$">
    <small class="text-danger" [class.d-none]="password.valid || password.touched">Enter Valid Password</small>

  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>